#sidebar {
  position: absolute;
  left: 0px;
  background: #3D0152;
  width:200px;
  padding: 13px 0 0 10px;
  height: 100vh;
  border-right: 1px solid #eee;
  transition: transform 0.3s ease-in-out;
  z-index: 9999;
  margin: 0;
  overflow: hidden;
  overflow-y: auto;
  margin-bottom: 20px;
}

.burger {
  left: 0px;
  border-radius: 0px 0px 15px;
  cursor: pointer;
  float: left;
  height:30px;
  background: #3D0152;
  width:70px;
}

.burger i {
  color: #ffffff;
  padding: 2px;
}

.close-btn {
  background-color: transparent;
  color: #ffffff;
  top: 2px;
  right: 15px;
  font-size: 12px;
  position: absolute;
  border: none;
}

#sidebar h6 {
  top: 0px;
  position: absolute;
  color: #ffffff;
  border: none;
  width: 125px;
  border-radius: 8px;
  text-align: left;
}

summary {
  font-weight: 400;
  color: rgb(255, 255, 255);
  text-align: left;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  font-size: 13px;
}

details {
  position: relative;
  left: 5px;
  margin-bottom: 10px;
  margin-top: 15px;

}

.links {
  text-align: left;
  margin-left: 5px;
}

.links a {
  color: #ffffff;
  text-decoration: none;
  font-size: small;
  margin-left: 5px;
  margin-bottom: 20px;
  border-bottom: 0.5px solid #ffffff;
}
.links br{
    padding: 20px;
}

.links a:hover {
    color: #ffffff;
    padding: 5px;
    text-decoration: none;
    font-weight: 600;
  }
 