.filterbar {
  position: absolute;
  left: 0px;
  background: #260d33;
  width: 200px;
  height: 100%;
  min-height: 102vh;
  max-height: max-content;
  transition: transform 0.3s ease-in-out;
  z-index: 9999;
  margin: 0;
  overflow: hidden;
  overflow-y: auto;

}

.container {
  margin: 0px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 10px;
  min-height: 100vh;
}

.bi-x-square {
  float: right;
  background-color: #260d33;
  color: #ffffff;
  font-weight: bold;
}

.close-btn {
  background-color: transparent;
  color: #ffffff;
  top: 2px;
  right: 5px;
  font-weight: bold;
  font-size: 14px;
  position: absolute;
  border: none;
}

.filters-tag {
  color: #ffffff;
  font-size: 12px;
  margin: 5px;
  padding: 2px;
}
select{
  font-size: 12px;
  width:auto;
  right: 0px;
  position: absolute;
  margin: 5px;
  border-radius: 4px;
}
select::after,select:focus,select::before{
  font-size: 12px;
  width:auto;
  margin: 5px;
  outline: none;
  box-shadow: none;
  border: none;
}
summary {
  font-weight: 400;
  color: rgb(255, 255, 255);
  text-align: left;
  background-color: transparent;
  cursor: pointer;
  margin: 5px;
  position: relative;
  font-size: 13px;
}

details {
  position: relative;
  left: 5px;
  margin: 10px;

}

.topbar {
  left: 0px;
  cursor: pointer;
  float: left;
  margin: 0px;
  height: 30px;
  background: #260d33;
  width: 100%;
}
.topbar-filter{
  color: #ffffff;
  font-size: 12px;
  margin: 2px;
  padding: 2px;
  position: absolute;
}

.topbar-pages{
  color: #ffffff;
  font-size: 12px;
  position: absolute;
  left:30%;
  margin: 2px;
  padding: 2px;
}

.topbar i {
  color: #ffffff;
  padding: 2px;
}

.checkmark {
  width:11px;
  height:11px;
  margin: 4px;
}
.check-div{
  padding: 5px;
}
.checkmark-label {
  color: #ffffff;
  font-size: 12px;
  margin: 2px;
}


@media only screen and (max-width: 600px) {
  
  .topbar-pages{
    color: #ffffff;
    font-size: 12px;
    position: absolute;
    left:25%;
    margin: 2px;
    padding: 2px;
  }
  
   
 
}