<div class="loading-spinner" [hidden]="name">
     <img src="./assets/loading.gif" class="w-25">
    <p style="color: blue;">ONLINE SHOPPING CART</p>  
    <!-- <img src="./assets/loading.gif" class="w-25"> -->
</div>

<!-- <div class="loading-spinner"  [hidden]="Subname">
    <img src="./assets/loading.gif" class="w-25">
    <p style="color: rgb(137, 1, 206);">HEAVEN OF SHOPPING</p>   
</div>

<div class="loading-spinner"  [hidden]="sale">
    <img src="./assets/loading.gif" class="w-25">
    <p style="color: rgb(206, 4, 1);">ONAM SALE ON</p>   
</div>
<div class="loader">
    
</div> -->