/* .container {
  margin-top: 20px;
  margin-bottom: 50px;
}

img {
  object-fit: contain;
  max-width: 100px;
  max-height: 150px;

}

tr {
  background-color: #f8f8f9;
  border: 2px solid #444ddf;
}

th {
  color: #6942c8;
}

td {
  color: #6942c8;
  font-weight: 500;
}

td a {
  color: #6942c8;
  font-weight: 500;
}

td a:hover {
  color: #cd9aff;
  font-weight: 600;
}

td:nth-child(odd) {
  color: #b9058c;
}

td:nth-child(even) {
  color: #047e99;
}

table {
  border: 2px solid #444ddf;
}


.card {
  background-color: white;
  border-radius: 25px;
  color: #444DDF;
  box-shadow: -7px -7px 15px #dfd4fd;
}

.card-body {
  background-color: white;
  border-radius: 25px;
  color: #444DDF;
}

p a {
  font-weight: 500;
  color: #5315a5;
  border-radius: 5px;
  padding: 5px;
  font-weight: bolder;
  font-size: small;
  width: 100%;
}

strong {
  color: #444ddf;
  font-weight: 500;
  font-size: small;
}

.details a {
  color:  #0905d3;
  font-weight: 500;
  font-size: small;
}

.sStrong {
  margin-left: 5px;
  text-align: right;
}



.details {
  float: right;
}


@media only screen and (max-width: 600px) {

  .container {
    margin-top: 10px;
    margin-bottom: 50px;
  }

  tr {
    background-color: #f8f8f9;
    border: 2px solid #444ddf;
    font-size:12.5px;
  }

  th {
    color: #6942c8;
  }

  td {
    color: #6942c8;
    font-size:12.5px;

  }

  td a {
    color: #6942c8;
    font-size:12.5px;
  }

  td a:hover {
    color: #005f92;
    font-size:12.5px;
  }

  table {
    border: 2px solid #444ddf;
  }

  p a {
    font-weight: 500;
    color: #5315a5;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    font-size: smaller;
  }

  strong {
    color:  #1715a5;
    font-weight: 500;
    font-size:12.5px;
  }

  .details a {
    color:  #0905d3;
    font-weight: 500;
    font-size:12.5px;
  }

  .details {
    margin: 5px;
    text-align: left;
    float: left;

  }

  .col-lg-4 {
    flex: 0 0 auto;
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .col-lg-8 {
    text-align: left;
    flex: 0 0 auto;
    width: 100%;
  }

}

@media only screen and (max-width: 2000px) {
  .details {
    margin: 5px;
    text-align: left;
    float: none;

  }
} */

/*	Reset & General
---------------------------------------------------------------------- */


h3{
  text-align: left;

  padding:5px;
  margin: 5px;
  margin-top: 15px;
  margin-left: 15px;
  font-size: large;
  color:#000101;
  border-left: 5px solid #700FEB;
  margin-bottom: 10px;
}