/* .container {
  margin-top: 20px;
  margin-bottom: 50px;
}

img {
  object-fit: contain;
  max-width: 100px;
  max-height: 150px;

}

tr {
  background-color: #f8f8f9;
  border: 2px solid #444ddf;
}

th {
  color: #6942c8;
}

td {
  color: #6942c8;
  font-weight: 500;
}

td a {
  color: #6942c8;
  font-weight: 500;
}

td a:hover {
  color: #cd9aff;
  font-weight: 600;
}

td:nth-child(odd) {
  color: #b9058c;
}

td:nth-child(even) {
  color: #047e99;
}

table {
  border: 2px solid #444ddf;
}


.card {
  background-color: white;
  border-radius: 25px;
  color: #444DDF;
  box-shadow: -7px -7px 15px #dfd4fd;
}

.card-body {
  background-color: white;
  border-radius: 25px;
  color: #444DDF;
}

p a {
  font-weight: 500;
  color: #5315a5;
  border-radius: 5px;
  padding: 5px;
  font-weight: bolder;
  font-size: small;
  width: 100%;
}

strong {
  color: #444ddf;
  font-weight: 500;
  font-size: small;
}

.details a {
  color:  #0905d3;
  font-weight: 500;
  font-size: small;
}

.sStrong {
  margin-left: 5px;
  text-align: right;
}



.details {
  float: right;
}


@media only screen and (max-width: 600px) {

  .container {
    margin-top: 10px;
    margin-bottom: 50px;
  }

  tr {
    background-color: #f8f8f9;
    border: 2px solid #444ddf;
    font-size: x-small;
  }

  th {
    color: #6942c8;
  }

  td {
    color: #6942c8;
    font-size: x-small;

  }

  td a {
    color: #6942c8;
    font-size: x-small;
  }

  td a:hover {
    color: #005f92;
    font-size: x-small;
  }

  table {
    border: 2px solid #444ddf;
  }

  p a {
    font-weight: 500;
    color: #5315a5;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    font-size: smaller;
  }

  strong {
    color:  #1715a5;
    font-weight: 500;
    font-size: x-small;
  }

  .details a {
    color:  #0905d3;
    font-weight: 500;
    font-size: x-small;
  }

  .details {
    margin: 5px;
    text-align: left;
    float: left;

  }

  .col-lg-4 {
    flex: 0 0 auto;
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .col-lg-8 {
    text-align: left;
    flex: 0 0 auto;
    width: 100%;
  }

}

@media only screen and (max-width: 2000px) {
  .details {
    margin: 5px;
    text-align: left;
    float: none;

  }
} */

/*	Reset & General
---------------------------------------------------------------------- */



#sidebar{
	position: absolute;
  left: 0px;
	background:#fff;
	width:275px;	
	padding:13px 0 0 45px;
	height: 91vh;
	border-right:1px solid #eee;
  transition: transform 0.3s ease-in-out;
  z-index: 9999; 
  margin: 0;
}
#sidebar h3{
	color:#262626;
	text-transform:uppercase;
	font-size:14px;
	font-weight:700;
	padding:35px 0 10px 0;
	letter-spacing:1px;
	clear:both;
}
#cart{padding:0px;}
#cart .empty{
	font-style:italic;
	color:#a0a3ab;
	font-size:14px;
	letter-spacing:1px;	
}
#sidebar .checklist{
	padding:0;
}

.checklist ul li{	
	font-size:14px;
	font-weight:400;
	list-style:none;
	padding: 7px 0 7px 23px;
}
.checklist li span{
	float:left;
	width:11px;
	height:11px;
	margin-left:-23px;
	margin-top:4px;
	border: 1px solid #d1d3d7;
	position:relative;	
}
.sizes li span, .categories .sizes li{
	-webkit-transition: all 300ms ease-out;
	   -moz-transition: all 300ms ease-out;
	    -ms-transition: all 300ms ease-out;
	     -o-transition: all 300ms ease-out;
	        transition: all 300ms ease-out;
}
.checklist li a{
	color:#676a74;
	text-decoration:none;	
	-webkit-transition: all 300ms ease-out;
	   -moz-transition: all 300ms ease-out;
	    -ms-transition: all 300ms ease-out;
	     -o-transition: all 300ms ease-out;
	        transition: all 300ms ease-out;
}
.checklist li a:hover{	
	color:#222;
	-webkit-transition: all 300ms ease-out;
	   -moz-transition: all 300ms ease-out;
	    -ms-transition: all 300ms ease-out;
	     -o-transition: all 300ms ease-out;
	        transition: all 300ms ease-out;
}
.checklist a:hover span{ 	
	border-color:#a6aab3;	
}
.sizes a:hover span, .categories a:hover span{	
	border-color:#a6aab3;
	-webkit-transition: all 300ms ease-out;
	   -moz-transition: all 300ms ease-out;
	    -ms-transition: all 300ms ease-out;
	     -o-transition: all 300ms ease-out;
	        transition: all 300ms ease-out;
}
.checklist a span span{border:none;margin:0;float:none; position:absolute;top:0;left:0;}
.checklist a .x{
	display:block;
	width:0;	 
	height:2px;
	background:#5ff7d2;
	top:6px;
	left:2px;	
	-ms-transform: rotate(45deg); 
   	-webkit-transform: rotate(45deg); 
    transform: rotate(45deg);	
	-webkit-transition: all 50ms ease-out;
}
.checklist a .x.animate{
	width:4px;
	-webkit-transition: all 100ms ease-in;
	   -moz-transition: all 100ms ease-in;
	    -ms-transition: all 100ms ease-in;
	     -o-transition: all 100ms ease-in;
	        transition: all 100ms ease-in;
}
.checklist a .y{
	display:block;
	width:0px; 
	height:2px;
	background:#5ff7d2;
	top:4px;
	left:3px;	
	-ms-transform: rotate(13deg); 
   	-webkit-transform: rotate(135deg); 
    transform: rotate(135deg);	
	-webkit-transition: all 50ms ease-out;
}
.checklist a .y.animate{
	width:8px;
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
	    -ms-transition: all 100ms ease-out;
	     -o-transition: all 100ms ease-out;
	        transition: all 100ms ease-out;
}
.checklist .checked span{
	border-color:#8d939f;
}

#sidebar img{margin-top:6px;}

.burger {
  cursor: pointer;
  float: inline-start;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #000000;
  color: #000000;
  margin: 3px;
}

.discount-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #f44336;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
}

.like {
  font-size: 1.5rem;
}
.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  color: #888;
  font-size: 16px;
  cursor: pointer;
}
s{
  color: red;
}
