/* .container {
  margin-top: 20px;
  margin-bottom: 50px;
}

img {
  object-fit: contain;
  max-width: 100px;
  max-height: 150px;

}

tr {
  background-color: #f8f8f9;
  border: 2px solid #444ddf;
}

th {
  color: #6942c8;
}

td {
  color: #6942c8;
  font-weight: 500;
}

td a {
  color: #6942c8;
  font-weight: 500;
}

td a:hover {
  color: #cd9aff;
  font-weight: 600;
}

td:nth-child(odd) {
  color: #b9058c;
}

td:nth-child(even) {
  color: #047e99;
}

table {
  border: 2px solid #444ddf;
}


.card {
  background-color: white;
  border-radius: 25px;
  color: #444DDF;
  box-shadow: -7px -7px 15px #dfd4fd;
}

.card-body {
  background-color: white;
  border-radius: 25px;
  color: #444DDF;
}

p a {
  font-weight: 500;
  color: #5315a5;
  border-radius: 5px;
  padding: 5px;
  font-weight: bolder;
  font-size: small;
  width: 100%;
}

strong {
  color: #444ddf;
  font-weight: 500;
  font-size: small;
}

.details a {
  color:  #0905d3;
  font-weight: 500;
  font-size: small;
}

.sStrong {
  margin-left: 5px;
  text-align: right;
}



.details {
  float: right;
}


@media only screen and (max-width: 600px) {

  .container {
    margin-top: 10px;
    margin-bottom: 50px;
  }

  tr {
    background-color: #f8f8f9;
    border: 2px solid #444ddf;
    font-size:12.5px;
  }

  th {
    color: #6942c8;
  }

  td {
    color: #6942c8;
    font-size:12.5px;

  }

  td a {
    color: #6942c8;
    font-size:12.5px;
  }

  td a:hover {
    color: #005f92;
    font-size:12.5px;
  }

  table {
    border: 2px solid #444ddf;
  }

  p a {
    font-weight: 500;
    color: #5315a5;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    font-size: smaller;
  }

  strong {
    color:  #1715a5;
    font-weight: 500;
    font-size:12.5px;
  }

  .details a {
    color:  #0905d3;
    font-weight: 500;
    font-size:12.5px;
  }

  .details {
    margin: 5px;
    text-align: left;
    float: left;

  }

  .col-lg-4 {
    flex: 0 0 auto;
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .col-lg-8 {
    text-align: left;
    flex: 0 0 auto;
    width: 100%;
  }

}

@media only screen and (max-width: 2000px) {
  .details {
    margin: 5px;
    text-align: left;
    float: none;

  }
} */

/*	Reset & General
---------------------------------------------------------------------- */

.filterbar {
  position: absolute;
  left: 0px;
  background: #260d33;
  width: 200px;
  height: 100%;
  min-height: 100vh;
  transition: transform 0.3s ease-in-out;
  z-index: 9999;
  margin: 0;
  overflow: hidden;
  overflow-y: auto;

}
.bi-x-square {
  float: right;
  background-color: #260d33;
  color: #ffffff;
  font-weight: bold;
}

.container {
  margin: 0px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 10px;
  min-height: 100vh;
}

h3{
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color:#000101;
  /* border-left: 5px solid #700FEB; */
  margin-bottom: 10px;
}

.close-btn {
  background-color: transparent;
  color: #ffffff;
  top: 2px;
  right: 5px;
  font-weight: bold;
  font-size: 14px;
  position: absolute;
  border: none;
}

.filters-tag {
  color: #ffffff;
  font-size: 12px;
  margin: 5px;
  padding: 2px;
}
select{
  font-size: 12px;
  width:auto;
  right: 0px;
  position: absolute;
  margin: 5px;
  border-radius: 4px;
  padding-inline: 3px;
}
select::after,select:focus,select::before{
  font-size: 12px;
  width:auto;
  margin: 5px;
  outline: none;
  box-shadow: none;
  border: none;
}
summary {
  font-weight: 400;
  color: rgb(255, 255, 255);
  text-align: left;
  background-color: transparent;
  cursor: pointer;
  margin: 5px;
  position: relative;
  font-size: 13px;
}

details {
  position: relative;
  left: 5px;
  margin: 10px;

}

.topbar {
  top:0px;
  left: 0px;
  cursor: pointer;
  float: left;
  margin: 0px;
  height: 30px;
  background: #260d33;
  width: 100%;
}
.topbar-filter{
  color: #ffffff;
  font-size: 12px;
  margin: 2px;
  padding: 2px;
  position: absolute;
}

.topbar-pages{
  color: #ffffff;
  font-size: 12px;
  position: absolute;
  left:30%;
  margin: 2px;
  padding: 2px;
}

.topbar i {
  color: #ffffff;
  padding: 2px;
}

.checkmark {
  width:11px;
  height:11px;
  margin: 4px;
}
.check-div{
  padding: 5px;
}
.checkmark-label {
  color: #ffffff;
  font-size: 12px;
  margin: 2px;
}


@media only screen and (max-width: 600px) {
  
  .topbar-pages{
    color: #ffffff;
    font-size: 12px;
    position: absolute;
    left:25%;
    margin: 2px;
    padding: 2px;
  }
  .topbar {
    top:0px;
    left: 0px;
    cursor: pointer;
    float: left;
    margin: 0px;
    height: 30px;
    background: #260d33;
    width: 100%;
  }
  select,select::after,select:focus,select::before{
    font-size: 10px;
  }
  

}