<!-- <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<div class="container" [hidden]="isLoading">
  <table class="table mt-3 table-bordered border-light text-black-50" s>
    <thead class="table-light">
      <tr>

        <th scope="col">Name</th>
        <th scope="col">Image</th>
        <th scope="col">Category</th>
        <th scope="col">Manufacture</th>
        <th scope="col">Price Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let P of ProductDetails">
        <td>
          <a [routerLink]="['/product-View',P.ProductName]">{{ P.ProductName.split('-')[0]}}</a>
        </td>
        <img class="form-control previewImage" alt="Product Photo Preview" [src]="P.ProductImages.split(',')[0]">
        <td>{{ P.ProductCatergory }}</td>
        <td>{{ P.ProductManufacture }}</td>
        <td>{{ P.ProductPrice |currency:'INR' }} : {{ P.ProductShipping }}</td>
      </tr>
    </tbody>
  </table>
  <div class="row p-3">    <div class="col-lg-4 p-1 " *ngFor="let P of ProductDetails">
      <div class="card">
        <div class="card-body">
          <p class="align-center text-center md-form">
            <a [routerLink]="['/product-View',P.ProductName]">
              {{ P.ProductName.split('-')[0] | uppercase }}
            </a>
          <p>
            <hr />
          <div class="row">

            <div class="col-lg-4">
              <img alt="Product Photo Preview" [src]="P.ProductImages.split(',')[0]">
            </div>
            <div class="col-lg-8">
              <div class="details">
                <a>
                 <strong>Catergory: </strong> {{P.ProductCatergory}}
                </a>
                <hr>
                <a>
                 <strong>Manufacture: </strong> {{P.ProductManufacture}}
                </a>
                <hr>
                <a>
                 <strong>Price: </strong> {{ P.ProductPrice |currency:'INR' }} <strong class="sStrong">Shipping: </strong> {{ P.ProductShipping }}
                </a>
                <hr>
                <a>
                 <strong>Stock: </strong> {{ P.ProductStock }}  <strong class="sStrong">Orders: </strong> {{ P.ProductOrderCount }}
                </a>
                <hr>
                <a *ngIf="P.ProductIsOffer =='Yes'">
                    <strong>Offer Price: </strong> {{ P.ProductOfferPrice }}  <strong class="sStrong">Offer Discount: </strong> {{ P.ProductOfferDiscount }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->



<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<div [hidden]="isLoading">

<div id="sidebar" [hidden]="showMenu" [ngClass]="{'active': showMenu}">
  <button class="close-button" (click)="toggleMenu()">x</button>
	<h3>CART</h3>
    <div id="cart">
    	<span class="empty">No items in cart.</span>       
    </div>
    
    <h3>CATEGORIES</h3>
    <div class="checklist categories">
    	<ul>
        	<li><a ><span></span>New Arivals</a></li>
            <li><a ><span></span>Accesories</a></li>
            <li><a ><span></span>Bags</a></li>
            <li><a ><span></span>Dressed</a></li>
            <li><a ><span></span>Jackets</a></li>
            <li><a ><span></span>jewelry</a></li>
            <li><a ><span></span>Shoes</a></li>
            <li><a ><span></span>Shirts</a></li>
            <li><a ><span></span>Sweaters</a></li>
            <li><a ><span></span>T-shirts</a></li>
        </ul>
    </div>

    
     <h3>PRICE RANGE</h3>
     <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/price-range.png" alt="" />
</div>

<div class="burger ms-2" >
  <p (click)="toggleMenu()">>>> Filters</p>
</div>


  <div class="row p-3 gap-3">
    <div class="col-lg-2" *ngFor="let P of ProductDetails">
      <div class="card">
        <img class="card-img p-2" [src]="P.ProductImages" [alt]="P.ProductName.split('-')[0]">
        <div class="discount-badge">{{P.ProductOfferDiscount}}%</div>
        <div class="card-body">
          <h4 class="card-title">{{P.ProductName.split('-')[0]}}</h4>
          <h6 class="card-subtitle mb-2 text-muted">{{P.ProductCatergory}}</h6>
          <div class="buy d-flex justify-content-between align-items-center">
            <p *ngIf="P.ProductIsOffer =='No'" class="price">{{P.ProductPrice | currency:'INR'}}</p>

            <div *ngIf="P.ProductIsOffer =='Yes'">
              <span > {{P.ProductOfferPrice | currency:'INR'}}</span>
              <span >  <s>{{P.ProductPrice | currency:'INR'}}</s></span>
            </div>
             <a href="#" class="btn btn-danger mt-3"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>
<!-- <div id="grid-selector">       
       Showing 1–9 of 48 results 
</div> -->

    
    
    
               

