<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<div class="container"  [hidden]="isLoading">
    <div class=" mb-4 p-1" *ngIf="ProductData !=null">
        <div class="card">
            <div class="card-body">
                <div class="form-header text-center">
                    <h3>
                        {{ProductData.ProductName.split('-')[0] |uppercase}}
                    </h3>
                </div>
                <div>   
                    <img  class="form-control previewImage" alt="Product Photo Preview"
                    [src]="ProductImage" (click)="scrollPreview()">                 
                    <p>
                    <b>Catergory: </b>{{ProductData.ProductCatergory}}
                    </p>
                    <p>
                    <b>Manufacture: </b>{{ProductData.ProductManufacture}}
                    </p>
                    <p>
                        <b>Details: </b>  {{ProductData.ProductDetails}}
                    </p>
                    <p>
                        <b>Other Details: </b>  {{ProductData.ProductOtherDetails}}
                    </p>
                    <p>
                        <b>Price: </b> {{ProductData.ProductPrice|currency:'INR'}}
                    </p>
                    <p>
                        <b>Shipping: </b>  {{ProductData.ProductShipping}}
                    </p>
                </div>
    
            </div>
        </div>
</div>
</div>