.container {
  margin: 0px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 10px;
}
.product-image{
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  height: auto;
}
.product-discount-badge {
  position: absolute;
  margin: 10px;
  margin-top: 23px;
  background-color: #260d33;
  color: white;
  padding: 3px;
  text-align: center;
  width: 5%;
  z-index: 9999;
  font-size: small;
  border-radius: 4px;
}


.product-available {
  color: #009919;
  padding: 2px;
  font-weight: 600;
  font-size: 12px;
}
.product-order-count{
  color: #030099;
  font-weight: 600;
  font-size: 12px;
  margin: 5px;
}
.product-name {
  text-align: left;
  color: #000101;
}


.product-catergory {
  font-size: 12px;
  color: #260d33;
  font-weight: 500;
  padding:4px;
  text-decoration: none;
  border: 1px solid #260d33;
  border-radius: 5px;
}

.product-catergory:hover {
  font-size: 12px;
  background-color: #260d33;
  color: #ffffff;
  font-weight: 400;
  padding:4px;
  text-decoration: none;
  border: none;
}

.product-price {
  font-weight: 600;
  color: #010143;
  margin: 0px;
  font-size: 30px;
}

.product-priceoffer {
  text-align: left;
  font-weight: 600;
  color: #f33d37;
  font-size: 14px;
  margin-left: 10px;
  text-decoration-line: line-through;
}

.product-price-offer {
  text-align: left;
  font-size: 30px;
  font-weight: 600;
  color: #19013c;
  text-decoration-line: none;
}

.product-shipping {
  text-decoration: none;
  font-size: small;
}

.product-action-icon {
  background-color: #260d33;
  color: white;
  padding: 3px;
  text-align: center;
  font-size: small;
  width: 15%;
  border: none;
  font-weight: 500;
  border-radius: 5px;
}

.product-action-icon:hover {
  background-color: transparent;
  color: #260d33;
  padding: 3px;
  text-align: center;
  font-size: small;
  width: 15%;
  border: none;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid #260d33;
}

.product-desc
{
  padding: 0px;
}

.product-desc-head
{
  font-size: 18px;
  font-weight: bold;
  max-width: fit-content;
  color:  #260d33;
}

.product-desc-txt
{
  font-size: 14px;
  font-weight: 500;
  white-space: pre-line;
  line-height: 2;
}

.product-review-head
{
  font-size: 18px;
  font-weight: bold;
  max-width: fit-content;
  color:  #260d33;
}

.product-review-username
{
  font-size: 14px;
  font-weight: 600;
  color: #000000;
}
.product-review-txt{
  font-size: 12px;
  font-weight: 500;
  line-height: 2;
  color:  #260d33;
}

.product-review-rating{
  font-size: 12px;
  font-weight: 500;
  color:  #ffffff;
  padding: 2px;
  padding-inline: 10px;
  background-color: #009919;
  border-radius: 5px;
}

.product-rating{
  font-size: 12px;
  font-weight: 500;
  color:  #ffffff;
  padding: 2px;
  padding-inline: 10px;
  background-color: #009919;
  border-radius: 5px;
}

.col-lg-7 {
  padding: 0px;
  margin: 0px;
  margin-top: 20px; 
  color: #000101;
  border-radius: 2px;
}

.col-lg-4 {
  padding: 15px;
}

.bi-star-fill{
  font-size: xx-small;
  align-content: center;
}

.realted-Products{
  font-weight: 600;
  color:  #260d33;font-size: 18px;
}

.realted-Products-cat{
  font-weight: 600;
  color:  #000000;font-size: 14px;
}
.product-image-span{
  font-weight: 600;
  font-size: medium;
  text-align: center;
  font-size: 12px;
  margin: 0px;
  padding: 3px;
  width:100%;
  background-color: #260d33;
  color: white;
}

.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 3px;
    color: #ffffff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: 1;
}
.bi-caret-left,
.bi-caret-right{
    text-align: center;
    font-size: 20px;
    color: #19013c;
    background-color: #ffffff;
    border-radius: 25px;

}
/* .carousel-control-next-icon,
.carousel-control-prev-icon {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%
} */
@media screen and (max-width: 630px) {

  .col-lg-7 {
    margin: 0px;
    margin-top: 2px;
    max-width: fit-content;
    padding: 15px;
  }

  .col-lg-4 {
    margin: 0px;
    margin-top: 0px;
    width: 100%;
  }

  .product-discount-badge {
    position: absolute;
    margin: 10px;
    margin-top: 23px;
    background-color: #260d33;
    color: white;
    padding: 3px;
    text-align: center;
    width: 15%;
    z-index: 9999;
    font-size: small;
    border-radius: 4px;
  }

  .product-desc-head
  {
    font-size: 14px;
    font-weight: bold;
    max-width: fit-content;
    color:  #260d33;
  }
  
  .product-desc-txt
  {
    font-size: 12px;
    font-weight: 500;
    white-space: pre-line;
    line-height: 2;
  }
  .product-review-head
  {
    font-size: 14px;
    font-weight: bold;
    max-width: fit-content;
    color:  #260d33;
  }
  .product-review-username
  {
    font-size: 12.5px;
    color:  #0b8301;
  }
  .product-review-txt{
    font-size: 12px;
    font-weight: 500;
    line-height: 2;
  }

  .product-review-rating{
    font-size: 12px;
    font-weight: 500;
    color:  #ffffff;
    padding: 2px;
    padding-inline: 10px;
    background-color: #009919;
    border-radius: 5px;
  }
  
  .realted-Products{
    font-weight: 600;
    color:  #260d33;font-size: 14px;
  }
  
  .realted-Products-cat{
    font-weight: 600;
    color:  #000000;font-size: 12px;
  }
  
  .row {
    gap: .25rem !important;
    padding: .25rem;
    margin-bottom: .5rem;
  }

 


}