<!-- <div class="content">
    <div class="row p-2 gap-2 justify-content-evenly" >
      <div class="col-lg-1">
        <div class="card" style="background-color: #FDC6B2;border: none;">
          <img src="./assets/C2.webp"  class="card-img-top " height=auto width=25% height=auto width=25% alt="Online Shopping Cart-GOWNS" loading="lazy">
          <div class="card-body">
            <h4 class="card-title">GOWNS</h4>
            <p class="card-text">100+ Collections</p>
          </div>
        </div>
      </div>

      <div class="col-lg-1">
        <div class="card" style="background-color: #CABBD6;border: none;">
          <img src="./assets/C3.webp"  class="card-img-top " height=auto width=25% alt="Online Shopping Cart-MOBILE ACCESSORIES" loading="lazy">
          <div class="card-body">
            <h4 class="card-title">MOBILE ACCESSORIES</h4>
            <p class="card-text">100+ Collections</p>
          </div>
        </div>
      </div>

      <div class="col-lg-1" >
        <div class="card" style="background-color: #C6C6D6;border: none;">
          <img src="./assets/C4.webp"  class="card-img-top " height=auto width=25% alt="Online Shopping Cart-WATHCES" loading="lazy">
          <div class="card-body">
            <h4 class="card-title">WATHCES</h4>
            <p class="card-text">100+ Collections</p>
          </div>
        </div>
      </div>

      <div class="col-lg-1" >
        <div class="card" style="background-color: #FBCE91;border: none;">
          <img src="./assets/C1.webp"  class="card-img-top " height=auto width=25% alt="Online Shopping Cart-KURTIS" loading="lazy">
          <div class="card-body">
            <h4 class="card-title">KURTIS</h4>
            <p class="card-text">100+ Collections</p>
          </div>
        </div>
      </div>
    </div>

  </div> -->

<div class="container">
  <div class="row justify-content-evenly p-1 m-1">
    <div class="col-lg-1 text-center">
      <div class="circular-col">
        <img src="./assets/dress.png" width="100" height="100" alt="Online Shopping Cart-DRESS" class="circular-image">
      </div>
      <div class="category-text">DRESS</div>
    </div>
    <div class="col-lg-1 text-center">
      <div class="circular-col">
        <img src="./assets/gift.png" width="100" height="100" alt="Online Shopping Cart" class="circular-image">
      </div>
      <div class="category-text">GIFT</div>
    </div>

    <div class="col-lg-1 text-center">
      <div class="circular-col">
        <img src="./assets/handbag.png" width="100" height="100" alt="Online Shopping Cart" class="circular-image">
      </div>
      <div class="category-text">BAG</div>
    </div>

    <div class="col-lg-1 text-center">
      <div class="circular-col">
        <img src="./assets/smartwatch.png" width="100" height="100" alt="Online Shopping Cart" class="circular-image">
      </div>
      <div class="category-text">WATCH</div>
    </div>

    <div class="col-lg-1 text-center">
      <div class="circular-col">
        <img src="./assets/saree.png" width="100" height="100" alt="Online Shopping Cart" class="circular-image">
      </div>
      <div class="category-text">SAREE</div>
    </div>

    <div class="col-lg-1 text-center">
      <div class="circular-col">
        <img src="./assets/blouse.png" width="100" height="100" alt="Online Shopping Cart" class="circular-image">
      </div>
      <div class="category-text">BLOUSE</div>
    </div>

    <div class="col-lg-1 text-center">
      <div class="circular-col">
        <img src="./assets/necklace.png" width="100" height="100" alt="Online Shopping Cart" class="circular-image">
      </div>
      <div class="category-text">JEWELL</div>
    </div>

    <div class="col-lg-1 text-center">
      <div class="circular-col">
        <img src="./assets/case.png" width="100" height="100" alt="Online Shopping Cart" class="circular-image">
      </div>
      <div class="category-text">CASES</div>
    </div>
    
  </div>
</div>