

.row {
  margin-top: 10px;
}
.col-lg-1 {
  width: 15.667%;
  cursor: pointer;
  min-height: 200px;
  max-height: 200px;  
}

.card{
  /* box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.3); */
  border: none;
}

.card-title{
  text-align: center;
  font-size: 14px;
}
.card-body{
  all: unset;
  padding-top: 5px;
  color:#FFFFFF;
  /* background-color: #260d33; */
  background-color: #260d33;
}

img{
  height: 175px;
  border-radius: 0px;
  object-fit: cover;
 
}

.row .col-lg-1:nth-child(n + 7) {
  display: none;
}

@media screen and (max-width: 768px) {

  .row .col-lg-1:nth-child(n + 5) {
    display: none;
  }


  .col-lg-1 {
    width:45.667%;
    cursor: pointer;
    min-height: 200px;
    max-height: 200px;
  }


  img{
    height: 160px;
    object-fit: cover;
   
  }

  .category-text {
    display: none;
  }
  h4{
    text-align: center;
    font-size: 12px;
  }

}
