.category-text {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  align-items: center;
  font-weight: 600;
  color:#2a026e ;
}

.row {
  margin-top: 10px;
}
.col-lg-1 {
  width: 11.667%;
  cursor: pointer;
}
.container {
  all: unset;
}
img{
  filter: drop-shadow(4px 4px 1px rgba(0, 0, 0, 0.6));
  aspect-ratio: 1 / 1;
}

@media screen and (max-width: 768px) {

  .row .col-lg-1:nth-child(n + 6) {
    display: none;
  }

  .col-lg-1 {
    width: 13.667%;
    cursor: pointer;
  }


  img{
   aspect-ratio: 1 / 1;
   width: 50px;
   height: 50px;
  }

  .category-text {
    display: none;
  }
}
