<div class="content mt-3">
  <div class="row p-2 gap-2 justify-content-evenly">
    <div class="col-lg-1" >
      <div class="card" (click)="preview('watch')">
        <img
          src="./assets/watch.webp"
          class="card-img-top"
          height="auto"
          width="25%"
          height="auto"
          width="25%"
          alt="Online Shopping Cart-GOWNS"
          loading="lazy"
        />
        <div class="card-body">
          <h4 class="card-title">WATCH</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-1">
      <div class="card" (click)="preview('gift')">
        <img
          src="./assets/C3.jpg"
          class="card-img-top"
          height="auto"
          width="25%"
          alt="Online Shopping Cart-MOBILE ACCESSORIES"
          loading="lazy"
        />
        <div class="card-body">
          <h4 class="card-title">GIFTS</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-1">
      <div class="card" (click)="preview('saree')">
        <img
          src="./assets/C4.jpg"
          class="card-img-top"
          height="auto"
          width="25%"
          alt="Online Shopping Cart-WATHCES"
          loading="lazy"
        />
        <div class="card-body">
          <h4 class="card-title">SAREES</h4>
        </div>
      </div>
    </div>

    <div class="col-lg-1">
      <div class="card" (click)="preview('kurti')">
        <img
          src="./assets/C1.jpg"
          class="card-img-top"
          height="auto"
          width="25%"
          alt="Online Shopping Cart-KURTIS"
          loading="lazy"
        />
        <div class="card-body">
          <h4 class="card-title">KURTIS</h4>
        </div>
      </div>
    </div>
    <div class="col-lg-1">
      <div class="card"  (click)="preview('dhavani')">
        <img
          src="./assets/C5.jpg"
          class="card-img-top"
          height="auto"
          width="25%"
          alt="Online Shopping Cart-KURTIS"
          loading="lazy"
        />
        <div class="card-body">
          <h4 class="card-title">DHAVANI</h4>
        </div>
      </div>
    </div>
    <div class="col-lg-1">
      <div class="card"  (click)="preview('dress')">
        <img
          src="./assets/C6.jpg"
          class="card-img-top"
          height="auto"
          width="25%"
          alt="Online Shopping Cart-KURTIS"
          loading="lazy"
        />
        <div class="card-body">
          <h4 class="card-title">DRESS</h4>
        </div>
      </div>
    </div>
  </div>
</div>
