<div class="content">
    <div class="row p-2 gap-2 justify-content-evenly" >
      <div class="col-lg-3">
        <div class="card" style="background-color: #FDC6B2;border: none;">
          <img src="./assets/C2.webp" class="card-img-top w-25" alt="..." loading="lazy">
          <div class="card-body">
            <h5 class="card-title">GOWNS</h5>
            <p class="card-text">100+ Collections</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card" style="background-color: #CABBD6;border: none;">
          <img src="./assets/C3.webp" class="card-img-top w-25" alt="..." loading="lazy">
          <div class="card-body">
            <h5 class="card-title">MOBILE ACCESSORIES</h5>
            <p class="card-text">100+ Collections</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3" >
        <div class="card" style="background-color: #C6C6D6;border: none;">
          <img src="./assets/C4.webp" class="card-img-top w-25" alt="..." loading="lazy">
          <div class="card-body">
            <h5 class="card-title">WATHCES</h5>
            <p class="card-text">100+ Collections</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3" >
        <div class="card" style="background-color: #FBCE91;border: none;">
          <img src="./assets/C1.webp" class="card-img-top w-25" alt="..." loading="lazy">
          <div class="card-body">
            <h5 class="card-title">KURTIS</h5>
            <p class="card-text">100+ Collections</p>
          </div>
        </div>
      </div>
    </div>

  </div>