
  
  .col-lg-2 {
    flex: 0 0 auto;
    width: 15.66666667%;
    border-radius: 5px;
    background:#ffffff;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.3);
    height: 400px;
  }
  
  .productName {
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    width: 220px; /* Adjust the width as needed */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:#351c1c ;
  }
  .category{
    text-align: left;
    font-size:12px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-top: 2px;
    color:#2e0059 ;
  }
  .price{
    text-align: left;
    font-size:14px;
    margin: 0;
    padding: 0;
    margin-top: 2px;
    font-weight: 600;
    color:#010143 ;
  }
  .priceoffer {
    text-align: left;
    margin-top: 2px;
    margin-right: 5px;
    color:#6d0400 ;
    text-decoration-line: line-through;
    font-size:12px;
  }
   sub{
    color:#1c024d ;
    font-weight: 400;
    font-size: 5px;
    margin-left: 5px;
   }
  .priceoffer-offer{
    text-align: left;
    font-size:14px;
    margin: 0;
    padding: 0;
    margin-top: 2px;
    font-weight: 600;
    color:#010c55 ;
    text-decoration-line: none;
  }
  .col-lg-2 button{
    background-color:#39008f;
    padding: 5px;
    width: 100%;
    font-size:12px;
    border: none;
    font-weight: 500;
    text-align: center;
    color:#FFFFFF;
  }
  p i{
    margin-right: 5px;
    color:#FFFFFF;
  }

  .discount-badge {
    position: absolute;
    margin: 3px;
    background-color:#39008f;
    color: #FFFFFF;
    padding: 3px;
    text-align: center;
    width: 2.5%;
    font-size:12px;
    border-radius: 4px;
  }
  .card-img {
   width: 100%;
   text-align: center;
   min-height: 250px;
   max-height: 250px;
   object-fit: cover;
   cursor: pointer;
  }
  .shipping {
    text-decoration: none;
    font-size:12px;
    color: #39008f;
    font-weight: 500;
  }
  
  @media screen and (max-width: 768px) {
    
    .row {
      align-content: space-evenly;
    }
  
    .col-lg-2 {
      align-items: flex-start;
      flex: 0 0 auto;
      margin-left: 5px;
      width: 45.555%;
      height: 300px;
    }
    .card-img {
      width: 100%;
      text-align: center;
      min-height: 150px;
      max-height: 150px;
      object-fit: cover;
      cursor: pointer;
     }
  
    .discount-badge {
      position: absolute;
      margin: 3px;
      background-color:#39008f;
       color: #FFFFFF;
      padding: 3px;
      text-align: center;
      width: 10%;
      font-size:10px;
      border-radius: 4px;
    }
  
    
    .productName {
      text-align: left;
      font-size: 14px;
      font-weight: 600;
      width: 140px; /* Adjust the width as needed */
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color:#351c1c ;
    }
    .col-lg-2 button{
      padding: 5px;
      width: 100%;
      font-size:10px;
      border: none;
      font-weight: 500;
      text-align: center;
      background-color:#39008f;
      color: #FFFFFF;
    }

    .row .col-lg-2:nth-child(n+5) {
      display: none;
      }
  }
  