
  
  .col-lg-2 {
    flex: 0 0 auto;
    width: 15.66666667%;
    border-radius: 5px;
    background: #FFFFFF;
  }
  
  .col-lg-2 a {
    text-align: left;
    font-size: small;
    font-weight: 500;
    color:#351c1c ;
  }
  .category{
    text-align: left;
    font-size:12px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-top: 2px;
    color:#1c0136 ;
  }
  .price{
    text-align: left;
    font-size:12.5px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    margin-top: 2px;
    color:#010143 ;
  }
  .priceoffer {
    text-align: left;
    margin-top: 2px;
    color:#f33d37 ;
    text-decoration-line: line-through;
    font-weight: 500;
    font-size:12px;
  }
   sub{
    color:#1c024d ;
    font-weight: 400;
    font-size: 5px;
    margin-left: 5px;
   }
  .priceoffer-offer{
    text-align: left;
    font-size:12.5px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    margin-top: 2px;
    color:#19013c ;
    text-decoration-line: none;
  }
  .col-lg-2 button{
    background:#651379;
    padding: 5px;
    width: 100%;
    font-size:12px;
    border: none;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
  }
  p i{
    margin-right: 5px;
    color: #ffffff;
  }

  .discount-badge {
    position: absolute;
    margin: 3px;
    background-color: #9207b5;
    color: white;
    padding: 3px;
    text-align: center;
    width: 2.5%;
    font-size:12px;
    border-radius: 4px;
  }
  .card-img {
    width: 100%;
   text-align: center;
   border-radius: 2px;
   max-height: 200px;
   object-fit: cover;
   cursor: pointer;
  }
  .shipping {
    text-decoration: none;
    font-size:12px;
    color: #9207b5;
    font-weight: 500;
  }
  
  @media screen and (max-width: 768px) {
    
    .row {
      align-content: space-evenly;
    }
  
    .col-lg-2 {
      align-items: flex-start;
      flex: 0 0 auto;
      margin-left: 5px;
      width: 45.555%
    }
  
    .discount-badge {
      position: absolute;
      margin: 3px;
      background-color: #9207b5;
      color: white;
      padding: 3px;
      text-align: center;
      width: 10%;
      font-size:12px;
      border-radius: 4px;
    }
  
  
    .col-lg-2-brand img {
      margin: 0px;
      padding: 0px;
      top: 0px;
      object-fit: contain;  
      width: 100px;
      height: 100px;
      float: right;
      z-index: 9999;
    }
    
    .col-lg-2-brand {
      flex: 0 0 auto;
      margin-left: 15px;
      width: 85.66666667%;
      border-radius: 10px;
      padding: 0px;
      height: 100px;
    }
    
    .col-lg-2-brand p {
      color:#ffffff ;
      text-align: center;
      padding: 0px;
      font-weight: 400;
      font-size:12px;
      margin: 0px;
      cursor: pointer;
     }
  
     .col-lg-2-cat {
      flex: 0 0 auto;
      margin-left: 15px;
      width: 90.66666667%;
      border-radius: 5px;
      background: #FFFFFF;
    }
    
  }
  