<div class="row" *ngIf="products.length > 0" style="padding: 10px;margin-bottom: 10px;">
  <div class="col-lg-2 p-2" *ngFor="let P of products">
    <span *ngIf="P.ProductIsOffer === 'Yes'" class="discount-badge"
      >{{ P.ProductOfferDiscount }}%</span
    >
    <img
      (click)="preview(P)"
      class="card-img"
      [src]="P.ProductImages"
      [loading]="load"
      alt="Online Shopping Cart"
      sizes="(max-width: 600px) 100vw, 50vw"
    />
    <button class="order" (click)="sendmessage(P)">
      <i class="bi bi-whatsapp"></i> Whatsapp Order
    </button>
    
    <div (click)="preview(P)" style="cursor: pointer">
      
      <div class="productName">
        <span>{{ P.ProductName.split("-")[0] }}</span>
      </div>

      <p class="category">{{ P.ProductCatergory }}</p>

      <p *ngIf="P.ProductIsOffer === 'No'" class="price">
        {{ P.ProductPrice | currency : "INR" }}
      </p>

      <div *ngIf="P.ProductIsOffer === 'Yes'">
        <span class="priceoffer">{{ P.ProductPrice | currency : "INR" }}</span>
        <span class="priceoffer-offer">{{
          P.ProductOfferPrice | currency : "INR"
        }}</span>
      </div>

      

  
      <!-- <span class="shipping"> &#x20B9; {{ P.ProductShipping }} Shipping</span> -->
    </div>
  </div>
</div>
