<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<div class="container" [hidden]="isLoading">
  <!-- <button class="open-btn" (click)="toggleSideNav()">&#9776;</button>
     -->

      <!-- <button class="close-btn" (click)="toggleSideNav()">&times;</button> -->
   
<app-photo-carousel></app-photo-carousel>
  <div class="content p-3">
    <h3>CATEGORY</h3>
    <div class="row p-3 gap-3" >
      <div class="col-lg-2-brand p-2"  *ngFor="let B of Brand">
          <p (click)="clickCategory()">{{B.CategoryName |uppercase}}</p>
      </div>
    </div>
    <h3>HOW IT WORKS</h3>
    <h3>PRODUCT</h3>
    <div class="row p-3 gap-3" *ngIf="ProductDetails.length>0">
      <div class="col-lg-2 p-2"  *ngFor="let P of ProductDetails">
          <img class="card-img" [src]="P.ProductImages">
          <p class="category">{{P.ProductCatergory}}</p>
          <a>{{P.ProductName.split('-')[0]}}</a>
          <p *ngIf="P.ProductIsOffer =='No'" class="price">{{P.ProductPrice | currency:'INR'}}</p>
          <div *ngIf="P.ProductIsOffer =='Yes'">
             <span class="priceoffer">{{P.ProductPrice | currency:'INR'}}</span>
             <span class="priceoffer-offer">  {{P.ProductOfferPrice | currency:'INR'}}</span>
             <sub>{{P.ProductOfferDiscount}}% DISCOUNT</sub>
          </div>
          <p class="order"><i class="bi bi-whatsapp"></i>ORDER ON WHATSAPP</p>          
      </div>
    </div>
  </div>
</div>
