.container {
  margin: 0px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 10px;
}
.seeall a {
  float: right;
  margin-right: 5px;
  font-weight: normal;
  font-size: small;
  text-decoration: none;
  color: #1e0048;
}
.add {
  overflow: hidden; /* Hide overflowing content */
  white-space: nowrap;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  padding: 3px;
  font-size: smaller;
  background-color:#230058;
  color: #FFFFFF;
}



.seeall a:hover {
  font-weight: 500;
  font-size: small;
}

h3 {
  text-align: left;
  padding: 5px;
  margin: 5px;
  font-size: large;
  color: #000101;
  border-left: 5px solid#39008f;
  margin-bottom: 10px;
}
h3 span {
  font-size: small;
  color:#39008f;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  h6 {
    text-align: left;
    padding: 5px;
    margin: 5px;
    font-size: medium;
    color: #000101;
    border-left: 5px solid#39008f;
    margin-bottom: 10px;
  }
  h6 span {
    font-size: 12px;
  }
  .add {
    overflow: hidden; /* Hide overflowing content */
    white-space: nowrap;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    padding: 2px;
    font-size: xx-small;
    background-color:#230058;
    color: #FFFFFF;
  }
}
