.container {
  margin: 0px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 100px;
}

.content {
  flex-grow: 1;
  background-color: #ffffff;
  margin-top: 15px;
}

hr{
  border: 2px solid #20003c;
}
h3 {
  text-align: left;
  padding:5px;
  margin: 5px;
  font-size: large;
  color:#000101;
  border-left: 5px solid #700FEB;
}
 
 .work{
  padding: 15px;
  margin: 5px;
  margin-left: 15px;
  border-radius: 5px;
  text-align: left;
  /* border-radius: 10px; */
 }

 .work span{
  font-size: small;
  padding: 5px;
  color: #20003c;

 }
 .work i{
  font-size: small;
  color:  rgb(8, 1, 44);
  font-weight: bold;
  border-radius: 5px;
 }


 

.col-lg-2 {
  flex: 0 0 auto;
  margin-left: 15px;
  width: 17.66666667%;
  border-radius: 5px;
  background: #FFFFFF;
}

.col-lg-2-cat {
  flex: 0 0 auto;
  margin-left: 15px;
  width: 17.66666667%;
  border-radius: 5px;
}

.card {
  flex-direction: row;
}

.card-title{
  font-size: small;
  color: rgb(5, 1, 32);
  padding: 5px;
  border: 2.5px solid white;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
}
.card-text{
  font-size: x-small;
  text-align: center;
  font-weight: 500;
  padding: 5px;
}
.seeall{
  float: right;
  margin-right: 5px;
  font-weight:normal;
  font-size: small;
}
.seeall a:hover{
  font-weight: 500;
  font-size: small;
}
.product:nth-child(odd){
  background: rgb(230,240,255);
  background: radial-gradient(circle, rgba(230,240,255,1) 0%, rgba(206,213,249,1) 100%);
}
.product :nth-child(odd){
  background: rgb(103,131,87);
background: linear-gradient(125deg, rgba(103,131,87,1) 0%, rgba(250,255,233,1) 100%);
}

.col-lg-2 .card {
  min-height: 150px;
  outline: none;
  border: none;
  background-color: none;
  color:#1e0048 ;

}


.col-lg-2 a {
  text-align: left;
  font-size: small;
  font-weight: 500;
  color:#351c1c ;
}
.category{
  text-align: left;
  font-size: xx-small;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-top: 2px;
  color:#1c0136 ;
}
.price{
  text-align: left;
  font-size: x-small;
  font-weight: 500;
  margin: 0;
  padding: 0;
  margin-top: 2px;
  color:#010143 ;
}
.priceoffer {
  text-align: left;
  margin-top: 2px;
  color:#f33d37 ;
  text-decoration-line: line-through;
  font-weight: 500;
  font-size: xx-small;
}
 sub{
  color:#1c024d ;
  font-weight: 400;
  font-size: 5px;
  margin-left: 5px;
 }
.priceoffer-offer{
  text-align: left;
  font-size: x-small;
  font-weight: 300;
  margin: 0;
  padding: 0;
  margin-top: 2px;
  color:#19013c ;
  text-decoration-line: none;
}
.col-lg-2 button{
  background:#651379;
  padding: 5px;
  width: 100%;
  font-size: xx-small;
  border: none;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
}
p i{
  margin-right: 5px;
  color: #ffffff;
}


.col-lg-3{
  flex: 0 0 auto;
  margin-left: 15px;
  width: 20.500%;
}
.card-img-top {
  width: 100%
}

.discount-badge {
  position: absolute;
  margin: 3px;
  background-color: #9207b5;
  color: white;
  padding: 3px;
  text-align: center;
  width: 2.5%;
  font-size: xx-small;
  border-radius: 4px;
}
.card-img {
  width: 100%;
 text-align: center;
 border-radius: 2px;
 max-height: 200px;
 object-fit: cover;
}

@media screen and (max-width: 768px) {
  .corner-div {
    display: none;
    visibility: hidden;
  }

  .row {
    align-content: space-evenly;
  }

  .col-lg-2 {
    align-items: flex-start;
    flex: 0 0 auto;
    margin-left: 5px;
    width: 45.555%
  }

  .discount-badge {
    position: absolute;
    margin: 3px;
    background-color: #9207b5;
    color: white;
    padding: 3px;
    text-align: center;
    width: 10%;
    font-size: xx-small;
    border-radius: 4px;
  }


  .col-lg-2-brand img {
    margin: 0px;
    padding: 0px;
    top: 0px;
    object-fit: contain;  
    width: 100px;
    height: 100px;
    float: right;
    z-index: 9999;
  }
  
  .col-lg-2-brand {
    flex: 0 0 auto;
    margin-left: 15px;
    width: 85.66666667%;
    border-radius: 10px;
    padding: 0px;
    height: 100px;
  }
  
  .col-lg-2-brand p {
    color:#ffffff ;
    text-align: center;
    padding: 0px;
    font-weight: 400;
    font-size: xx-small;
    margin: 0px;
    cursor: pointer;
   }

   .col-lg-2-cat {
    flex: 0 0 auto;
    margin-left: 15px;
    width: 90.66666667%;
    border-radius: 5px;
    background: #FFFFFF;
  }
  .col-lg-3{
    width: 95%;
  }
  .work{
    padding: 15px;
    margin: 2px;
    /* border-radius: 10px; */
   }
}
