.container {
  margin: 0px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 10px;
}
.seeall a{
  float: right;
  margin-right: 5px;
  font-weight:normal;
  font-size: small;
  text-decoration: none;
  color:#1e0048 ;
}

.seeall a:hover{
  font-weight: 500;
  font-size: small;
}

hr{
  border: 2px solid #20003c;
}
h3{
  text-align: left;
  padding:5px;
  margin: 5px;
  font-size: large;
  color:#000101;
  border-left: 5px solid #700FEB;
  margin-bottom: 10px;
}
h3 span{
  font-size: small;
  color: #012497;
  font-weight: 600;
}

 

@media screen and (max-width: 768px) {
  h6{
    text-align: left;
    padding:5px;
    margin: 5px;
    font-size: medium;
    color:#000101;
    border-left: 5px solid #700FEB;
    margin-bottom: 10px;
  }
  h6 span{
    font-size: xx-small;
  }
}  
