.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }
  
   
  .spinner {
    border: 4px solid #7411a1;
    border-top: 4px solid #9e34db;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .row{
    justify-content: space-evenly;

  }
  
  @media only screen and (max-width: 600px) {
 
    .loading-spinner {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60vh;
    }

    .spinner {
      border: 4px solid #7411a1;
      border-top: 4px solid #9e34db;
      border-radius: 50%;
      width: 75px;
      height: 75px;
      animation: spin 1s linear infinite;
    }
  

 
  }

  .col-lg-2 {
    flex: 0 0 auto;
    width: 15.66666667%;
    border-radius: 5px;
    background: #e3e3e3;
    margin-bottom: 10px;
    animation: loading-animation 1s infinite alternate;
    min-height: 200px;
  }

/* 
  .loading-skeleton {
    display: flex;
    flex-direction: column;
  }
  
  .loading-box {
    height: 20px;
    width: 100%;
    background-color: #f0f0f0;
    margin-bottom: 10px;
    animation: loading-animation 1s infinite alternate;
  } */
  
  /* flex: 0 0 auto;
  width: 15.66666667%;
  border-radius: 5px;
  background: linear-gradient(
    90deg,
    #eee 0%,
    #eee 40%,
    #ddd 50%,
    #ddd 55%
    #eee 65%,
    #eee 100%

  );
  margin-bottom: 10px;
  background-size: 300%;
  animation: loading-animation 1s infinite;
  min-height: 200px;
}

@keyframes loading-animation {
 from{
    background-position: 100%;
  }
  to{
    background-position: 0%;
  }
} */


  @keyframes loading-animation {
    0% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }

  @media screen and (max-width: 768px) {  
    .col-lg-2 {
      align-items: flex-start;
      flex: 0 0 auto;
      margin-left: 5px;
      width: 45.555%
    }
    
  }
  