<footer class="text-center">
  <div class="container d-flex justify-content-center">
    <a href="https://mdbootstrap.com/"><i class="bi bi-whatsapp"></i></a>
    <a href="https://mdbootstrap.com/"><i class="bi bi-facebook"></i></a>
    <a href="https://mdbootstrap.com/"><i class="bi bi-instagram"></i></a>
    <a href="https://mdbootstrap.com/"><i class="bi bi-telegram"></i></a>
    <a href="https://mdbootstrap.com/"><i class="bi bi-youtube"></i></a>
  </div>

  <!-- Copyright -->
  <div class="text-center copyright">
    © 2023 Copyright:
    <a href="https://mdbootstrap.com/">OnlineShoppingCart.com</a>
  </div>
  <div class="text-center service">
    Support:
    <a href="https://mdbootstrap.com/">Era Solutions</a>
  </div>
  <!-- Copyright -->
</footer>
