
<header>
  <div class="top">
<h1>ONLINE SHOPPING CART SINCE 2018</h1>
  </div>
  <nav>
    <div class="logo">
      <h2>OSC</h2>
    </div>
    <ul class="nav-links" [ngClass]="{'active': showMenu}">
      <li><a (click)="toggleMenu()" routerLink="/home">HOME</a></li>
      <li><a (click)="toggleMenu()" routerLink="/brand">BRANDS</a></li>
      <li><a (click)="toggleMenu()" routerLink="/tracking">TRACKING</a></li>
      <li><a (click)="toggleMenu()" routerLink="/faq">FAQ</a></li>
      <li><a (click)="toggleMenu()" routerLink="/terms">TERMS</a></li>
      <li><a (click)="toggleMenu()" routerLink="/contactus">CONTACT US</a></li>
      <li><a (click)="toggleMenu()" routerLink="/aboutus">ABOUT US</a></li>
    </ul>

    <div class="burger" (click)="toggleMenu()">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>
</header>

<!-- Main Content -->
<body>
 <router-outlet></router-outlet>
</body>