
.top{
  margin: 0;
  min-height: 40px;
  background-color: #2A0234;
  text-align: center;
}
.top p{
  padding: 6px;
  font-size: smaller;
  color: #ffffff;
  font-weight: lighter;
}
h3{
  color: #ffffff;
}

nav {
  background:#3D0152;
  padding: 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  z-index: 9999; 
}

.nav-links li {
  margin: 0 1rem;
}

.nav-links a {
  text-decoration: none;
 font-weight:medium;
 font-size: small;
  color: #ebeaea;
}

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #ebeaea;
  margin: 3px;
}

.mobile{
  display: none;visibility:hidden;
}
.desktop{
  color: #ffffff;
}
@media screen and (max-width: 768px) {


  .top p{
    padding: 6px;
    font-size: x-small;
    color: #ebeaea;
  }
  .nav-links {
    display:none;
    visibility: hidden;
    position: absolute;
    right: 5px;
    padding:10px ;
    top:90px;
    background-color: #2A0234;
    flex-direction: column;
    color: #01112c;
    width: 40%;
    height: 100%;
    border-radius: 15px 0px 0px 15px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 9999; 
    margin: 0;
  }
 
  li {
    padding: 10px;
    color: #294776;
    font-size: x-small;
  }
  .nav-links li a{
    color: white;
    font-size: x-small;
  }
  .nav-links.active {
    display:block;
    visibility: visible;
    transform: translateX(0);
  }

  .burger {
    display: flex;
  }
  .top p{
  padding: 10px;
  font-size: x-small;
  color: #ebeaea;
  }

}
