input:focus ,textarea:focus ,select:focus {
    outline: 3px solid #00ac69;
    box-shadow:none;
    color:  #444DDF;
    font-weight: 500;
  }
  
  .container {
    /* margin-top: -250px; */
    margin-bottom: 50px;
  }
  
  input ,textarea ,select{
    outline: 2px solid #444ddf;
    color:  #444DDF;
    font-weight: 500;
  }
  
  .card {
    background-color: white;
    border-radius: 25px;
    color: #444DDF;
    box-shadow:  -7px -7px 15px #dfd4fd;
  }
  .card-body{
    background-color: white;
    border-radius: 25px;
    color: #444DDF;
  }
  
  .card h3 {
    color: #6942c8;
    outline:none;
    box-shadow:none;
  
  }



  h6 {
    color: #ffffff;
    outline:none;
    box-shadow:none;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #f4a22b;
    padding: 10px;
    border-radius: 10px;
  
  }

  .card input[type="button"] {
    background-color:#3850E4;
    color: white;
    font-weight: bolder;
  }
  
  .card input[type="button"]:hover {
    background-color:#f4a22b;
    color: white;
    font-weight: bolder;
    outline: 3px solid #f4a22b;
  }

  input::placeholder ,select::selection,
  option,
  option:disabled,
  select::placeholder,
  option::selection,
  input::target-text,
  select,
  textarea ,
  textarea::placeholder 
  {
    color:  #444DDF;
    font-weight: 500;
  }
  
  input ::after{
    color:  #444DDF;
  }
  .error{
    background-color:  #f4a22b;
    margin-top: 10px;
    padding: 5px;
    color: white;
    border-radius: 10px;
    font-size: small;
    font-weight: 500;
  }
  
  .detailsList{
    margin-top: 20px;
    background-color: white;
    border-radius: 25px;
    color: #444DDF;
    box-shadow:  -7px -7px 15px #dfd4fd;
  }

  tr {
    background-color: #f8f8f9;
    border: 2px solid #444ddf;
  }
  
  th {
    color: #6942c8;
  }
  
  td {
    color: #6942c8;
    font-weight: 500;
  }
  
  td a {
    color: #6942c8;
    font-weight: 500;
  }
  
  td a:hover {
    color: #cd9aff;
    font-weight: 600;
  }
  td:nth-child(odd){
      color:#b9058c;
  }
  td:nth-child(even){
      color:#047e99;
  }
  table {
    border: 2px solid #444ddf;
  }

  @media only screen and (max-width: 600px) {
  input::placeholder ,select::selection,
  option,
  select::placeholder,
  option::selection,
  input::target-text,
  select,
  textarea ,
  textarea::placeholder
  {
    color:  #444DDF;
    font-weight: 500;
    font-size: smaller;
  }
  input:focus ,textarea:focus ,select:focus {
    outline: 1.5px solid #00ac69;
    box-shadow:none;
    color:  #444DDF;
    font-weight: 500;
  }
  
  input ,textarea ,select{
    outline: 1px solid #444ddf;
    color:  #444DDF;
    font-weight: 500;
    font-size: smaller;
  }
  
  .card input[type="button"] {
    background-color:#3850E4;
    color: white;
    font-weight: bolder;
    font-size: smaller;
  }
    .container {
      /* margin-top: -100px; */
      margin-bottom: 50px;
    }
  .error{
    background-color:  #f4a22b;
    margin-top: 10px;
    padding: 5px;
    color: white;
    border-radius: 10px;
    font-size: smaller;
    font-weight: 500;
  }
  
  tr {
      background-color: #f8f8f9;
      border: 2px solid #444ddf;
      font-size: x-small;
    }
  
    th {
      color: #6942c8;
    }
  
    td {
      color: #6942c8;
      font-size: x-small;
      
    }
  
    td a {
      color: #6942c8;
      font-size: x-small;
    }
  
    td a:hover {
      color: #005f92;
      font-size: x-small;
    }
    
  table {
      border: 2px solid #444ddf;
    }
  }
  