<app-loading-spinner *ngIf="isuploading"></app-loading-spinner>
<div class="container" [hidden]="isuploading">
  <!--Section: Content-->
  <section class="dark-grey mb-0 ">
    <!-- Section heading -->
    <div style="text-align: center;align-items: center;margin-top: -10px;">
      <h2 class="font-weight-bold  text-light ">RESELLER LOGIN</h2>
    </div>

    <!-- Section description -->
    <!-- <p class="text-center w-responsive mx-auto pb-2 mt-4 bg-light bg-opacity-10 p-2">
            At Iconic Gifts, we specialize in offering a wide range of personalized and customized gift options that are
            sure to impress. Whether you're looking for a stunning photo frame, an exquisite wooden frame, or
            beautifully crafted carvings, we have it all.
        </p> -->

    <!-- Grid row -->
    <div class="row p-3" style="margin:5px;">

      <!-- Grid column -->
      <div class="col-lg-5  mb-4 p-1">
        <!-- background-color: #ABBA76; -->
        <!-- Form with header -->
        <div class="card">
          <div class="card-body">
            <div class="form-header text-center">
              <h3>BRAND & CATEGORY</h3>
            </div>
            <div class="md-form p-3">
              <input type="text" class="form-control rounded-2 hover-shadow border-5 border-light"
                [(ngModel)]="brandName" placeholder="Enter Brand Name">
            </div>
            <div class="md-form p-3">
              <input type="text" class="form-control rounded-2 hover-shadow border-5 border-light"
                [(ngModel)]="categoryName" placeholder="Enter Category Name">
            </div>
            <div class="md-form p-3" *ngIf="categoryError !='' ">
              <p class="error">{{categoryError}}
              </p>
            </div>
            <div class="text-center md-form">
              <input class="btn btn-light w-25" type="button" value="Add" (click)="addBrand()">
              <input class="btn btn-light w-25" type="button" [hidden]="isuploadBrand" [disabled]="isuploadBrand" value="Upload" (click)="UploadBrand()">
              <input class="btn btn-light w-25" type="button" value="Delete" [hidden]="isDeleteBrand" [disabled]="isDeleteBrand" (click)="deleteBrand()">
            </div>
          </div>
        </div>

      </div>


      <div class="col-lg-7 p-1">
        <div class="card">
          <div class="card-body">
            <div class="form-header text-center">
              <h3>MANUFACTURE</h3>
            </div>
            <div class="md-form p-3">
              <input type="text" [(ngModel)]="manufactureName"
                class="form-control rounded-2 hover-shadow border-5 border-light" placeholder="Enter Manufacture Name">
            </div>
            <div class="md-form p-3">
              <input type="number" [(ngModel)]="manufactureNumber"
                class="form-control rounded-2 hover-shadow border-5 border-light"
                placeholder="Enter Manufacture Number">
            </div>
            <div class="md-form p-3" *ngIf="manfactureError != ''">
              <p class="error">{{manfactureError}}
              </p>
            </div>
            <div class="text-center md-form">
              <input class="btn btn-light w-25" type="button" value="Add" (click)="addManufacture()">
              <input class="btn btn-light w-25" type="button" value="Upload" [hidden]="isuploadManfacture" [disabled]="isuploadManfacture" (click)="UploadManufacture()">
              <input class="btn btn-light w-25" type="button" value="Delete" [hidden]="isDeleteManfacture" [disabled]="isDeleteManfacture" (click)="deleteManfacture()">
            </div>
          </div>
        </div>
      </div>

      

        <div *ngIf="CategoryDetails.length >0">
          <h6>BRAND & CATEGORY LIST</h6>
          <table class="table mt-3 table-bordered border-light text-black-50" s>
            <thead class="table-light">
              <tr>
                <!-- <th scope="col">Order No</th> -->
                <th scope="col"></th>
                <th scope="col">Brand</th>
                <th scope="col">Category</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let C of CategoryDetails ;let i = index">
                <!-- <td>{{ o.CustomerName }}</td> -->
                <td><input type="checkbox" (change)="onCheckboxChange($event,i,'Category',C.BrandName,C.CategoryName )"></td>
                <td>{{ C.BrandName }}</td>
                <td>{{ C.CategoryName }}</td>
              </tr>
            </tbody>
          </table>
         
        </div>
       

        <div *ngIf="ManfactureDetails.length >0">
          <h6>MANUFACTURE LIST</h6>
          <table class="table mt-3 table-bordered border-light text-black-50" s>
            <thead class="table-light">
              <tr>
                <!-- <th scope="col">Order No</th> -->
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Phone Number</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let M of ManfactureDetails; let i = index">
                <!-- <td>{{ o.CustomerName }}</td> -->
                <td><input type="checkbox" (change)="onCheckboxChange($event,i,'Manfacture',M.ManufactureName,M.ManufacturetNumber )"></td>
                <td>{{ M.ManufactureName }}</td>
                <td>{{ M.ManufacturetNumber }}</td>
              </tr>
            </tbody>
          </table>
          
        </div>


      <br>
    </div>
    <!-- Grid row -->

  </section>
  <!--Section: Content-->

</div>