input:focus,
textarea:focus,
select:focus,
input:checked {
  outline: 3px solid #6942c8;
  box-shadow: none;
  color: #444DDF;
  font-weight: 500;
}

.container {
  /* margin-top: -250px; */
  margin-bottom: 50px;
}

input,
textarea,
select {
  outline: 2px solid #444ddf;
  color: #444DDF;
  font-weight: 500;
  font-size:12.5px;
}

.card {
  background-color: white;
  border-radius: 25px;
  color: #444DDF;
  box-shadow: -7px -7px 15px #dfd4fd;
  border-left: 5px solid  #6942c8 ;
}

.card-body {
  background-color: white;
  border-radius: 25px;
  color: #444DDF;
}

.card h3 {
  color: #6942c8;
  outline: none;
  box-shadow: none;
  font-size: medium;
  margin-left: 15px;
  padding: 5px;
  border: none ;
  text-align: center;
  border-radius: 10px;

}

h6 {
  color: #6942c8;
  outline: none;
  box-shadow: none;
  font-size: medium;
  margin-top: 25px;
  margin-left: 15px;
  padding: 5px;
  border: none ;
  text-align: left;
  border-radius: 0px;
  border-left: 5px solid  #6942c8 ;
}

.card input[type="button"] {
  background-color: #444ddf;
  text-align: center;
  color: white;
  font-size:12px;
  font-weight: bolder;
  margin: 1.5px;
  padding: 2px;
  border: none;
  outline:none;
}

.card input[type="button"]:hover {
  background-color: #6942c8;
  color: white;
  font-weight: bolder;
  outline: none;
  border: none;
}


input::placeholder,
select::selection,
option,
option:disabled,
select::placeholder,
option::selection,
input::target-text,
select,
textarea,
textarea::placeholder {
  color: #444DDF;
  font-weight: 500;
}

input ::after {
  color: #444DDF;
}

.error {
  background-color: #6942c8;
  padding: 2.5px;
  color: white;
  border-radius: 0px 10px 10px 0px ;
  font-size:12.5px;
  font-weight: 500;
}


tr {
  background-color: #f8f8f9;
  border: 2px solid #444ddf;
}

th {
  color: #6942c8;
}

td {
  color: #6942c8;
  font-weight: 500;
}

td a {
  color: #6942c8;
  font-weight: 500;
}

td a:hover {
  color: #cd9aff;
  font-weight: 600;
}

td:nth-child(odd) {
  color: #b9058c;
}

td:nth-child(even) {
  color: #047e99;
}

table {
  border: 2px solid #444ddf;}
.tablebutton{
  font-size:12.5px;
  padding:0px;
  margin:0px;
  border: none;
  outline:none;
  box-shadow: none;
}

@media only screen and (max-width: 600px) {

  input::placeholder,
  select::selection,
  option,
  select::placeholder,
  option::selection,
  input::target-text,
  select,
  textarea,
  textarea::placeholder {
    color: #444DDF;
    font-weight: 500;
    font-size: smaller;
  }

  input:focus,
  textarea:focus,
  select:focus {
    outline: 1.5px solid  #6942c8;
    box-shadow: none;
    color: #444DDF;
    font-weight: 500;
  }

  input,
  textarea,
  select {
    outline: 1px solid #444ddf;
    color: #444DDF;
    font-weight: 500;
    font-size: smaller;
  }

 

  .container {
    /* margin-top: -100px; */
    margin-bottom: 50px;
  }

  .error {
    background-color:  #6942c8;
    padding: 5px;
    color: white;
    border-radius: 10px;
    font-size:12px;
    font-weight: 500;
  }

  tr {
    background-color: #f8f8f9;
    border: 2px solid #444ddf;
    font-size: small;
  }

  th {
    color: #6942c8;
  }

  td {
    color: #6942c8;
    font-size: small;

  }

  td a {
    color: #6942c8;
    font-size: small;
  }

  td a:hover {
    color: #005f92;
    font-size: small;
  }

  table {
    border: 2px solid #444ddf;
  }
  .card input[type="button"] {
    background-color: #444ddf;
    text-align: center;
    color: white;
    font-weight: 500;
    margin-right: 1px;
    font-size:12.5px;
  }
  
  .card input[type="button"]:hover {
    background-color: #6942c8;
    color: white;
    font-weight: 500;
    outline: none;
    font-size:12.5px;
  }

  .card h3 {
    color: #6942c8;
    outline: none;
    box-shadow: none;
    font-size: small;
    margin-left: 15px;
    padding: 5px;
    text-align: left;
    border: none ;
    border-radius: 0px;
    border-left: 5px solid  #6942c8 ;
  
  }

  h6 {
    color: #6942c8;
    outline: none;
    box-shadow: none;
    font-size: small;
    margin-top: 25px;
    margin-left: 15px;
    padding: 5px;
    border: none ;
    text-align: left;
    border-radius: 0px;
    border-left: 5px solid  #6942c8 ;
  }
}