img{
    object-fit: cover;
}
.carousel-caption {
    all: unset;
    position: absolute;
    right: 0%;
    top:1.25rem;
    /* bottom: 1.25rem; */
    left:15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: left
}
.carousel-caption h5{
    text-align: left;
    width: 50%;
    line-height:1.5;
    font-size: xx-large;
}
.carousel-caption p{
    text-align: left;
    font-size: medium;
    width: 50%;
    padding: 5px;
    line-height: 3;
    margin: 5px;
}
.carousel-caption button{
    text-align: left;
    font-size: small;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    margin: 10px;
    color: #e50088;
    outline: none;
    box-shadow: none;
}

@media only screen and (max-width: 600px) {

    .carousel-caption {
        all: unset;
        position: absolute;
        right: 0%;
        top:1.25rem;
        /* bottom: 1.25rem; */
        left:15%;
        padding-top: 0.25rem;
        padding-bottom: 1.25rem;
        color: #fff;
        text-align: left
    }

    .carousel-caption h5{
        text-align: left;
        width: 70%;
        line-height:1.5;
        font-size: small;
    }
    .carousel-caption p{
        display: none;visibility:hidden;
    }
    .carousel-caption button{
        text-align: left;
        font-size: xx-small;
        padding: 5px;
        border-radius: 10px;
        border: none;
        font-weight: 500;
        margin: 2px;
        color: #e50088;
        outline: none;
        box-shadow: none;
    }
 
      
  }