img{
    width: 100px;
    height: 250px;
    object-fit: contain;
    object-position: 100%;
    transition: opacity 0.5s ease-in-out; 
}
.carousel-caption {
    all: unset;
    position: absolute;
    right: 0%;
    top:1.25rem;
    /* bottom: 1.25rem; */
    left:15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: left
}
.carousel-caption h3{
    text-align: left;
    width: 50%;
    line-height:1.5;
    font-size: large;
}
.carousel-caption p{
    text-align: left;
    font-size: 12px;
    width: 30%;
    padding: 5px;
    line-height: 3;
    margin: 0px;
}
.carousel-caption button{
    text-align: left;
    font-size: small;
    padding: 10px;
    border: none;
    color: #000000;
    outline: none;
    box-shadow: none;
    font-weight: 500;
}

.loading{
    height: max-content;
    width: 100%;
    background-color: #dfdddd;
    margin-bottom: 10px;
    animation: loading-animation 1s infinite alternate;
  } 
  

  @keyframes loading-animation {
    0% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }



@media only screen and (max-width: 600px) {

    .carousel-caption {
        all: unset;
        position: absolute;
        width: 100%;
        bottom: .75rem;
        color: #fff;
        text-align: left;
        background-color: rgb(2, 1, 0,0.5);
    }

    .carousel-caption h3{
        text-align: left;
        width: 100%;
        left: 2%;
        line-height:1.5;
        font-size: small;
        margin-left: 10px;
        margin-top: 10px;
   
    }
    .carousel-caption p{
        text-align: left;
        font-size: 12px;
        width:90%;
        line-height: 2;
        margin-left: 10px;
    }
    .carousel-caption button{
        text-align: center;
        font-size:12px;
        padding: 5px;
        border: none;
        margin-left: 10px;
        color: #000000;
        outline: none;
        box-shadow: none;
        margin-bottom: 10px;
    }
 
    img{
        width: 100px;
        height: 350px;
        object-fit: contain;
        object-position: 100%;
        transition: opacity 0.5s ease-in-out; 
    }
      
  }