@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;500;500&display=swap');

.container {
    /* margin-top: -250px; */
    margin-top: 10px;
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
}

input:focus,
textarea:focus,
input:checked {
  outline: 3px solid #6942c8;
  box-shadow: none;
  color: #444DDF;
  font-weight: 500;
}

input::placeholder,
option,
option::selection,
input::target-text,
textarea,
textarea::placeholder {
    color: #0029a3;
    font-weight: 500;
}

input ::after {
    color: #0029a3;
}

input,
textarea,
select {
  outline: 2px solid #444ddf;
  color: #7a44df;
  font-weight: 500;
  font-size: small;
}

label,
p,
h3 {
    color: #0029a3;
    font-weight: 500;
    margin-top: 10px;
    white-space: pre-line;
}

.card {
    background-color: #ffffff;
    border-radius: 25px;
    color: #0029a3;
    outline: none;
    border: none;
    /* box-shadow: -7px -7px 2px #babaff; */
}

.card-body {
    background-color: #ffffff;
    border-radius: 25px;
    color: #0029a3;
    outline: none;
    border: none;
}

.card h3 {
    color: #010003;
    border-left: 5px solid #700FEB;
    text-align: left;
    padding: 5px;
    font-size: medium;
    font-weight: 500;
}

.card input[type="submit"] {
    background-color: #3850E4;
    color: white;
    font-weight: 500;
}

input[type="button"] {
    background-color: #3850E4;
    color: white;
    font-weight: 500;
}

.card input[type="submit"]:disabled {
    background-color: #f32637;
    color: white;#e50088
    font-weight: 500;
}

.previewImage {
    object-fit: contain;
    max-height: 200px;
    border: none;
    outline: none;
    box-shadow: -3px -3px 5px #babaff;
}

.error {
    background-color: #520166;
    margin-top: 10px;
    padding: 5px;
    color: white;
    border-radius: 10px;
    font-size:12.5px;
    font-weight: 500;
}

@media only screen and (max-width: 500px) {

    .container {
        /* margin-top: -100px; */
        margin-bottom: 50px;
    }


    input::placeholder,
    select::placeholder,
    input::target-text,
    textarea,
    textarea::placeholder {
        color: #0029a3;
        font-weight: 500;
        font-size: smaller;
    }

    select option:disabled {
        color: #0029a3;
        font-weight: 500;
        font-size:12px;
    }


    input:focus,
    textarea:focus{
        outline: 1.5px solid #00ac69;
        box-shadow: none;
        color: #0029a3;
        font-weight: 500;
    }

    input,
    textarea {
        outline: 1px solid #0029a3;
        color: #0029a3;
        font-weight: 500;
        font-size: smaller;
    }

    label,
    p,
    h6 {
        /* outline: 2px solid #0029a3; */
        color: #0029a3;
        font-weight: 500;
        font-size: smaller;
    }

    .card input[type="submit"] {
        background-color: #3850E4;
        color: white;
        font-weight: 500;
        font-size: smaller;
    }

    .error {
        background-color: #0029a3;
        margin-top: 10px;
        padding: 5px;
        color: white;
        border-radius: 10px;
        font-size:12px;
        font-weight: 500;
    }


}