
<div class="container">
    <section>
         <div class="p-1">
                <div class="card">
                    <div class="card-body">
                        <form [formGroup]="ProductForm" (ngSubmit)="preView()">
                            <div class="form-header text-center">
                                <h3>UPLOAD PRODUCT</h3>
                            </div>
                            <div class="md-form p-3">
                                <input formControlName="ProductName" id="ProductName" type="text"
                                    class="form-control rounded-2 hover-shadow border-5 border-light"
                                    placeholder="Enter The Product Name">
                                <div *ngIf="f['ProductName'].touched && f['ProductName'].invalid" class="error">
                                    <div *ngIf="f['ProductName'].errors && f['ProductName'].errors['required']">*
                                        Product Name is required.</div>
                                    <div *ngIf="f['ProductName'].errors && f['ProductName'].errors['minlength']">*
                                        Product Name should be Min 8 character.</div>
                                    <div *ngIf="f['ProductName'].errors && f['ProductName'].errors['pattern']">* Product
                                        Name should be Only Alpha Numeric.</div>
                                </div>
                            </div>

                            <div class="md-form p-3">
                                <input formControlName="ProductPrice" id="ProductPrice" type="ProductPrice"
                                    class="form-control rounded-2 hover-shadow border-5 border-light"
                                    placeholder="Enter Your ProductPrice">
                                <div *ngIf="f['ProductPrice'].touched && f['ProductPrice'].invalid" class="error">
                                    <div *ngIf="f['ProductPrice'].errors && f['ProductPrice'].errors['required']">*
                                        ProductPrice is required.</div>
                                </div>
                            </div>

                            <div class="md-form p-3 shadow-inner">
                                <select formControlName="ProductCatergory" id="ProductCatergory"
                                    class="form-control rounded-2 hover-shadow border-5 border-light"
                                    id="ProductCatergory">
                                    <option hidden value="" selected disabled [defaultSelected]="signRole">Select
                                        Product Catergory</option>
                                    <option *ngFor="let l of ProductCatergory" [value]="l">{{l}}</option>
                                </select>
                                <div *ngIf="f['ProductCatergory'].touched && f['ProductCatergory'].invalid"
                                    class="error">
                                    <div
                                        *ngIf="f['ProductCatergory'].errors && f['ProductCatergory'].errors['required']">
                                        * Product Catergory is required.</div>
                                </div>
                            </div>


                            <div class="md-form p-3 shadow-inner">
                                <select formControlName="ProductManufacture" id="ProductManufacture"
                                    class="form-control rounded-2 hover-shadow border-5 border-light"
                                    id="ProductManufacture">
                                    <option hidden value="" selected disabled [defaultSelected]="signRole">Select
                                        Product Manufacture</option>
                                    <option *ngFor="let l of ProductCatergory" [value]="l">{{l}}</option>
                                </select>
                                <div *ngIf="f['ProductManufacture'].touched && f['ProductManufacture'].invalid"
                                    class="error">
                                    <div
                                        *ngIf="f['ProductManufacture'].errors && f['ProductManufacture'].errors['required']">
                                        * Product Manufacture is required.</div>
                                </div>
                            </div>

                            <div class="md-form p-3">
                                <input formControlName="ProductShipping" id="ProductShipping" type="text"
                                    class="form-control rounded-2 hover-shadow border-5 border-light"
                                    placeholder="Enter The Product Shipping Amount">
                                <div *ngIf="f['ProductShipping'].touched && f['ProductShipping'].invalid" class="error">
                                    <div *ngIf="f['ProductShipping'].errors && f['ProductShipping'].errors['required']">
                                        * Product Shipping is required.</div>
                                </div>
                            </div>

                            <div class="md-form p-3">
                                <textarea rows="3" formControlName="ProductDetails" id="ProductDetails"
                                    class="form-control rounded-2 hover-shadow border-5 border-light"
                                    placeholder="Enter The Product Details">
                                </textarea>
                                <div *ngIf="f['ProductDetails'].touched && f['ProductDetails'].invalid" class="error">
                                    <div *ngIf="f['ProductDetails'].errors && f['ProductDetails'].errors['required']">*
                                        Product Details is required.</div>

                                </div>
                            </div>

                            <div class="md-form p-3">
                                <textarea rows="3" formControlName="ProductOtherDetails" id="ProductOtherDetails"
                                    class="form-control rounded-2 hover-shadow border-5 border-light"
                                    placeholder="Enter The Product Other Details">
                                </textarea>
                                <div *ngIf="f['ProductOtherDetails'].touched && f['ProductOtherDetails'].invalid"
                                    class="error">
                                    <div
                                        *ngIf="f['ProductOtherDetails'].errors && f['ProductOtherDetails'].errors['required']">
                                        * Other Product Details is required.</div>

                                </div>
                            </div>

                            <div class="md-form p-3">
                                <input formControlName="ProductImages" id="ProductImages" type="file"
                                    (change)="detectFiles($event)" accept="image/png, image/gif, image/jpeg, image/jpg"
                                    class="form-control rounded-2 hover-shadow border-5 border-light" multiple>
                                <br />
                                <label>Upload Product Images</label>

                                <div *ngIf="f['ProductImages'].touched && f['ProductImages'].invalid" class="error">
                                    <div *ngIf="f['ProductImages'].errors && f['ProductImages'].errors['required']">
                                        *
                                        Product Image is required.</div>
                                </div>
                            </div>

                            <div class="text-center md-form">
                                <input class="btn btn-light w-25" [disabled]="FormFlag" type="submit" value="Preview"
                                    (click)="preView()">
                            </div>
                        </form>

                    </div>
                </div>

            
        </div>
        
            <div class="mb-4 p-1" *ngIf="ProductData !=null">
                <div class="card">
                    <div class="card-body">
                        <div class="form-header text-center">
                            <h3>PRODUCT PREVIEW</h3>
                        </div>
                        <img  class="form-control previewImage" alt="Product Photo Preview"
                            [src]="ProductImage" (click)="scrollPreview()">
                        <div>
                            <h3>
                                {{ProductData.ProductName}}
                            </h3>
                            <p>
                                {{ProductData.ProductCatergory}}
                            </p>
                            <p>
                                {{ProductData.ProductManufacture}}
                            </p>
                            <p>
                                {{ProductData.ProductDetails}}
                            </p>
                            <p>
                                {{ProductData.ProductOtherDetails}}
                            </p>
                            <p>
                                Price:{{ProductData.ProductPrice}}
                            </p>
                            <p>
                                Shipping: {{ProductData.ProductShipping}}
                            </p>
                            <div class="text-center md-form">
                                <input class="btn btn-light w-25" [disabled]="FormFlag" type="button" value="Upload"
                                    (click)="Upload()">
                            </div>
                        </div>

                    </div>
                </div>

            </div>
           
    </section>

</div>