@import "~bootstrap/dist/css/bootstrap.min.css";


html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f6fafe;
}


.content-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* Adjust the main content's styles as needed */
.main-content {
    flex: 1;
    /* Allow the main content to grow and fill available space */
    padding: 20px;
}

.footer {
    flex-shrink: 0;
    /* Prevent the footer from shrinking when content grows */
    height: 50px;
    /* Adjust the height as needed */
    background-color: #f0f0f0;
    /* Footer background color */
    /* Add any other styling you need for the footer */
}