@import "~bootstrap/dist/css/bootstrap.min.css";
html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #fff9ff;
    font-family: 'Poppins', sans-serif;
}

.main-content {
    flex: 1;
    min-height: 100%;
    padding: 0px;
}
hr{
  border: none;
}


.footer {
    flex-shrink: 0;
    margin-bottom: 20px;
    height: 50px;
    background-color: #230754;
    font-size:12px;
    
   
} 
